@font-face {
    font-family: retro;
    src: url(../fonts/ARCADECLASSIC.TTF);
}

:root {
    --gris-clair: #484848;
    --gris-fonce: #303030;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0px;
}

h1 {
    font-size: 100px;
    font-family: retro;
}

#titre {
    text-align: center;
    color: azure;
    text-shadow: black 5px 5px;
    background-color: var(--gris-fonce);
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#description {
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#description>.text {
    font-size: 20px;
    color: azure;
    flex-basis: 50%;
}

#description>.image {
    font-size: 15px;
    text-align: center;
    color: aliceblue;
    flex-basis: 30%;
}

#colorBox {
    background-color: var(--gris-clair);
    height: 100vh;
}

#transition1 {
    background: linear-gradient(to top, var(--gris-clair), var(--gris-fonce));
    height: 50vh;
}

#transition2 {
    height: 50vh;
    background: linear-gradient(to bottom, var(--gris-clair), #000000);
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 100vh;
}

#game>canvas {
    height: 75%;
    width: 75%;
    border: #fff 5px solid;
}